.normal-enter {
	opacity: 0.01;
	transition: opacity 1s;
}

.normal-enter.normal-enter-active {
	opacity: 1;
}

.example-leave {
	opacity: 1;
	transition: opacity .1s ease;
}

.example-leave.example-leave-active {
	opacity: 0.01;
}